In [1]:
import pandas as pd

In [2]:
def read_taxi_csv(month):
    return pd.read_csv(
    f"/Users/powers/Documents/tmp/data/yellow_tripdata/yellow_tripdata_2019-{month}.csv",
    parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"],
    dtype={
        "payment_type": "UInt8",
        "VendorID": "UInt8",
        "passenger_count": "UInt8",
        "RatecodeID": "UInt8",
        "store_and_fwd_flag": "category",
        "PULocationID": "UInt16",
        "DOLocationID": "UInt16",
    },
)

In [3]:
df01 = read_taxi_csv("01")

In [4]:
df01.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [5]:
df01.memory_usage(deep=True).sum()

789782928

In [6]:
%%time

df01.groupby("passenger_count").tip_amount.mean()

CPU times: user 98.6 ms, sys: 12.6 ms, total: 111 ms
Wall time: 126 ms

passenger_count
0    1.786901
1    1.828308
2    1.833877
3    1.795579
4    1.702710
5    1.869868
6    1.856830
7    6.542632
8    6.480690
9    3.116667
Name: tip_amount, dtype: float64

In [7]:
df02 = read_taxi_csv("02")

In [8]:
%%time

df = pd.concat([df01, df02])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 583 ms, sys: 1.23 s, total: 1.81 s
Wall time: 2.7 s

passenger_count
0    1.953941
1    1.989189
2    1.993027
3    1.951479
4    1.859164
5    2.036077
6    2.011378
7    7.384286
8    6.056667
9    6.077391
Name: tip_amount, dtype: float64

In [9]:
df.memory_usage(deep=True).sum()

1630275761

In [10]:
%%time

df.describe()

CPU times: user 53.4 s, sys: 1.41 s, total: 54.8 s
Wall time: 55.4 s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,1.468717e+07,9.831189e+06
mean,1.636710e+00,1.569153e+00,2.841153e+00,1.059688e+00,1.645491e+02,1.628211e+02,1.281334e+00,1.257061e+01,7.246678e-01,4.964223e-01,1.987875e+00,3.287769e-01,2.992142e-01,1.705608e+01,1.552658e+00
std,5.327233e-01,1.226260e+00,3.758184e+00,6.590049e-01,6.618553e+01,7.023476e+01,4.702544e-01,2.591477e+02,1.037186e+00,5.291696e-02,2.571404e+00,1.864409e+00,2.095494e-02,2.593287e+02,1.215405e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.000000e+02,-6.000000e+01,-5.000000e-01,-6.350000e+01,-7.000000e+01,-3.000000e-01,-4.008000e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.200000e-01,1.000000e+00,1.250000e+02,1.130000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,9.360000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.560000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.560000e+00,0.000000e+00,3.000000e-01,1.280000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,2.880000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,1.000000e+00,5.000000e-01,2.600000e+00,0.000000e+00,3.000000e-01,1.835000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.711231e+05,5.353800e+02,6.080000e+01,7.872500e+02,3.288000e+03,1.000000e+00,6.711249e+05,2.750000e+00

In [11]:
df03 = read_taxi_csv("03")

In [12]:
%%time

df = pd.concat([df01, df02, df03])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 907 ms, sys: 2.24 s, total: 3.15 s
Wall time: 6.7 s

passenger_count
0    2.032308
1    2.077172
2    2.069955
3    2.027659
4    1.939630
5    2.116015
6    2.086503
7    6.712135
8    6.318933
9    6.070851
Name: tip_amount, dtype: float64

In [13]:
df.memory_usage(deep=True).sum()

2499688256

In [14]:
%%time

df.describe()

CPU times: user 1min 25s, sys: 6.32 s, total: 1min 31s
Wall time: 1min 34s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,2.251971e+07,1.766373e+07
mean,1.636566e+00,1.571249e+00,2.893291e+00,1.062180e+00,1.636597e+02,1.619358e+02,1.280282e+00,1.278228e+01,8.911029e-01,4.961151e-01,2.072678e+00,3.413585e-01,2.991298e-01,1.779865e+01,1.875677e+00
std,5.260722e-01,1.226990e+00,3.805281e+00,6.729183e-01,6.608905e+01,7.024575e+01,4.706301e-01,2.926392e+02,1.152017e+00,5.903604e-02,2.993208e+01,1.801560e+00,2.208043e-02,3.137936e+02,1.086081e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.470000e+02,-6.000000e+01,-5.000000e-01,-8.989000e+01,-7.000000e+01,-3.000000e-01,-4.503000e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.400000e-01,1.000000e+00,1.140000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,9.960000e+00,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.700000e+00,0.000000e+00,3.000000e-01,1.350000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,2.920000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.400000e+01,1.000000e+00,5.000000e-01,2.750000e+00,0.000000e+00,3.000000e-01,1.900000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,7.500000e+01,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [15]:
df04 = read_taxi_csv("04")

In [16]:
%%time

df = pd.concat([df01, df02, df03, df04])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 1.22 s, sys: 3.24 s, total: 4.46 s
Wall time: 10.1 s

passenger_count
0    2.060361
1    2.112855
2    2.104512
3    2.057653
4    1.960886
5    2.149412
6    2.125474
7    6.882373
8    6.438081
9    6.013788
Name: tip_amount, dtype: float64

In [17]:
df.memory_usage(deep=True).sum()

3324766685

In [18]:
%%time

df.describe()

CPU times: user 1min 54s, sys: 8.89 s, total: 2min 3s
Wall time: 2min 6s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.995285e+07,2.509687e+07
mean,1.636490e+00,1.571758e+00,2.919280e+00,1.060998e+00,1.635871e+02,1.618362e+02,1.282348e+00,1.288454e+01,9.708864e-01,4.960210e-01,2.107423e+00,3.514738e-01,2.990718e-01,1.815381e+01,1.998775e+00
std,5.214304e-01,1.226397e+00,3.831349e+00,6.807039e-01,6.610595e+01,7.027917e+01,4.720272e-01,2.639229e+02,1.195478e+00,5.802062e-02,2.599049e+01,1.781284e+00,2.280354e-02,2.816359e+02,1.006011e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.500800e+02,-6.000000e+01,-5.000000e-01,-8.989000e+01,-7.000000e+01,-3.000000e-01,-4.508800e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.500000e-01,1.000000e+00,1.160000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.030000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.760000e+00,0.000000e+00,3.000000e-01,1.380000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,2.960000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.760000e+00,0.000000e+00,3.000000e-01,1.956000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,7.500000e+01,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [19]:
df05 = read_taxi_csv("05")

In [20]:
%%time

df = pd.concat([df01, df02, df03, df04, df05])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 1.52 s, sys: 4.31 s, total: 5.83 s
Wall time: 13.3 s

passenger_count
0    2.082074
1    2.144241
2    2.135892
3    2.082968
4    1.979963
5    2.177698
6    2.156313
7    6.922365
8    6.362538
9    5.619524
Name: tip_amount, dtype: float64

In [21]:
df.memory_usage(deep=True).sum()

4164510656

In [22]:
%%time

df.describe()

CPU times: user 2min 25s, sys: 11.1 s, total: 2min 36s
Wall time: 2min 43s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.751811e+07,3.266213e+07
mean,1.637235e+00,1.571289e+00,2.942198e+00,1.059869e+00,1.635486e+02,1.618324e+02,1.283527e+00,1.299719e+01,1.014643e+00,4.959085e-01,2.137958e+00,3.616617e-01,2.990011e-01,1.843176e+01,2.065406e+00
std,5.177323e-01,1.225114e+00,3.854664e+00,6.813672e-01,6.612090e+01,7.027372e+01,4.731273e-01,2.358847e+02,1.216581e+00,5.762400e-02,2.325773e+01,1.780776e+00,2.361674e-02,2.517389e+02,9.535175e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.500800e+02,-6.000000e+01,-5.000000e-01,-8.989000e+01,-7.000000e+01,-3.000000e-01,-4.508800e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.600000e-01,1.000000e+00,1.160000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.056000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.760000e+00,0.000000e+00,3.000000e-01,1.412000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.850000e+00,0.000000e+00,3.000000e-01,1.980000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,7.500000e+01,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [23]:
df06 = read_taxi_csv("06")

In [24]:
%%time

df = pd.concat([df01, df02, df03, df04, df05, df06])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 1.79 s, sys: 4.97 s, total: 6.76 s
Wall time: 15.4 s

passenger_count
0    2.096924
1    2.164408
2    2.157087
3    2.102109
4    1.997362
5    2.196087
6    2.176314
7    6.530308
8    6.300816
9    6.762613
Name: tip_amount, dtype: float64

In [25]:
df.memory_usage(deep=True).sum()

4934964320

In [26]:
%%time

df.describe()

CPU times: user 2min 53s, sys: 14.1 s, total: 3min 7s
Wall time: 3min 16s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,4.445914e+07,3.960316e+07
mean,1.638064e+00,1.570669e+00,2.963479e+00,1.059793e+00,1.633542e+02,1.616744e+02,1.284856e+00,1.310132e+01,1.038063e+00,4.957668e-01,2.157938e+00,3.686148e-01,2.989207e-01,1.863620e+01,2.102047e+00
std,5.152922e-01,1.222896e+00,7.909912e+00,6.900142e-01,6.616360e+01,7.030454e+01,4.743740e-01,2.229095e+02,1.227150e+00,6.625812e-02,2.139731e+01,1.783471e+00,2.445240e-02,2.371228e+02,9.215727e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.500800e+02,-6.000000e+01,-5.000000e-01,-8.989000e+01,-7.000000e+01,-3.000000e-01,-4.508800e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.700000e-01,1.000000e+00,1.140000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.080000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.800000e+00,0.000000e+00,3.000000e-01,1.416000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,2.015000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [27]:
df07 = read_taxi_csv("07")

In [28]:
%%time

df = pd.concat([df01, df02, df03, df04, df05, df06, df07])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 2.19 s, sys: 6.28 s, total: 8.48 s
Wall time: 21.2 s

passenger_count
0    2.095198
1    2.168845
2    2.164805
3    2.105120
4    1.996752
5    2.200765
6    2.182536
7    6.512277
8    6.277041
9    7.201260
Name: tip_amount, dtype: float64

In [29]:
df.memory_usage(deep=True).sum()

5635420829

In [30]:
%%time

df.describe()

CPU times: user 3min 23s, sys: 18.8 s, total: 3min 42s
Wall time: 3min 59s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,5.073560e+07,5.073560e+07,5.076956e+07,5.073560e+07,5.076956e+07,5.076956e+07,5.073560e+07,5.076956e+07,5.076956e+07,5.076956e+07,5.076956e+07,5.076956e+07,5.076956e+07,5.076956e+07,4.591358e+07
mean,1.639218e+00,1.570840e+00,2.981707e+00,1.059972e+00,1.631417e+02,1.614404e+02,1.287420e+00,1.316455e+01,1.053706e+00,4.955063e-01,2.161159e+00,3.732045e-01,2.988616e-01,1.875753e+01,2.123767e+00
std,5.120231e-01,1.221837e+00,7.539696e+00,6.976598e-01,6.610384e+01,7.028185e+01,4.761024e-01,2.086480e+02,1.234268e+00,6.605459e-02,2.004906e+01,1.797105e+00,2.506758e-02,2.219676e+02,9.015273e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.500800e+02,-6.000000e+01,-5.000000e-01,-2.210000e+02,-7.000000e+01,-3.000000e-01,-4.508800e+02,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.700000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.080000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.610000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.820000e+00,0.000000e+00,3.000000e-01,1.416000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.010000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,2.016000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [31]:
df08 = read_taxi_csv("08")

In [32]:
%%time

df = pd.concat([df01, df02, df03, df04, df05, df06, df07, df08])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 2.32 s, sys: 6.9 s, total: 9.22 s
Wall time: 29.5 s

passenger_count
0    2.094154
1    2.170391
2    2.168601
3    2.106660
4    1.994978
5    2.201929
6    2.184476
7    6.650985
8    6.408912
9    6.856644
Name: tip_amount, dtype: float64

In [33]:
df.memory_usage(deep=True).sum()

6309563456

In [34]:
%%time

df.describe()

CPU times: user 3min 47s, sys: 21.1 s, total: 4min 8s
Wall time: 4min 34s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,5.677563e+07,5.677563e+07,5.684291e+07,5.677563e+07,5.684291e+07,5.684291e+07,5.677563e+07,5.684291e+07,5.684291e+07,5.684291e+07,5.684291e+07,5.684291e+07,5.684291e+07,5.684291e+07,5.198693e+07
mean,1.639804e+00,1.571166e+00,3.001042e+00,1.060441e+00,1.629309e+02,1.611995e+02,1.290156e+00,1.322033e+01,1.065220e+00,4.952939e-01,2.161754e+00,3.782099e-01,2.987968e-01,1.885598e+01,2.138985e+00
std,5.086028e-01,1.220920e+00,7.252141e+00,7.079963e-01,6.604867e+01,7.027750e+01,4.779697e-01,2.046288e+02,1.239360e+00,6.616585e-02,1.897245e+01,1.811502e+00,2.576357e-02,2.168046e+02,8.871285e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.856000e+03,-6.000000e+01,-5.000000e-01,-2.210000e+02,-7.000000e+01,-3.000000e-01,-1.871800e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.800000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.080000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.620000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.830000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.050000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,2.030000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [35]:
df09 = read_taxi_csv("09")

In [36]:
%%time

df = pd.concat([df01, df02, df03, df04, df05, df06, df07, df08, df09])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 2.6 s, sys: 7.69 s, total: 10.3 s
Wall time: 29.2 s

passenger_count
0    2.104388
1    2.183329
2    2.182848
3    2.116711
4    2.004765
5    2.214527
6    2.198173
7    6.636689
8    6.488333
9    6.933275
Name: tip_amount, dtype: float64

In [37]:
df.memory_usage(deep=True).sum()

7038587924

In [38]:
%%time

df.describe()

CPU times: user 4min 15s, sys: 24.3 s, total: 4min 40s
Wall time: 5min 6s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,6.330933e+07,6.330933e+07,6.341070e+07,6.330933e+07,6.341070e+07,6.341070e+07,6.330933e+07,6.341070e+07,6.341070e+07,6.341070e+07,6.341070e+07,6.341070e+07,6.341070e+07,6.341070e+07,5.855472e+07
mean,1.640736e+00,1.568920e+00,3.009943e+00,1.060824e+00,1.629269e+02,1.611920e+02,1.289862e+00,1.328162e+01,1.074092e+00,4.951302e-01,2.173782e+00,3.813436e-01,2.987503e-01,1.896602e+01,2.154269e+00
std,5.054753e-01,1.218005e+00,6.988180e+00,7.227381e-01,6.606462e+01,7.030094e+01,4.782588e-01,1.947189e+02,1.243081e+00,6.614823e-02,1.798796e+01,1.815926e+00,2.628340e-02,2.062128e+02,8.720637e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.856000e+03,-6.000000e+01,-5.000000e-01,-2.210000e+02,-7.000000e+01,-3.000000e-01,-1.871800e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.800000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.080000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.630000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.850000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.060000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,2.030000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [39]:
df10 = read_taxi_csv("10")

In [40]:
%%time

df = pd.concat([df01, df02, df03, df04, df05, df06, df07, df08, df09, df10])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 2.98 s, sys: 9.04 s, total: 12 s
Wall time: 37.8 s

passenger_count
0    2.115823
1    2.195483
2    2.196249
3    2.125457
4    2.013086
5    2.225418
6    2.210671
7    6.810151
8    6.533983
9    6.811070
Name: tip_amount, dtype: float64

In [41]:
df.memory_usage(deep=True).sum()

7839329825

In [42]:
%%time

df.describe()

CPU times: user 4min 43s, sys: 26.6 s, total: 5min 10s
Wall time: 5min 37s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,7.047650e+07,7.047650e+07,7.062459e+07,7.047650e+07,7.062459e+07,7.062459e+07,7.047650e+07,7.062459e+07,7.062459e+07,7.062459e+07,7.062459e+07,7.062459e+07,7.062459e+07,7.062459e+07,6.576861e+07
mean,1.642073e+00,1.565863e+00,3.010636e+00,1.060966e+00,1.630254e+02,1.612698e+02,1.289144e+00,1.331757e+01,1.082100e+00,4.949669e-01,2.184751e+00,3.830292e-01,2.987061e-01,1.904629e+01,2.168765e+00
std,5.025465e-01,1.214081e+00,6.740356e+00,7.352906e-01,6.603100e+01,7.026623e+01,4.782849e-01,1.845492e+02,1.246304e+00,6.661692e-02,1.706945e+01,1.828038e+00,2.679040e-02,1.954585e+02,8.573492e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.856000e+03,-6.000000e+01,-5.000000e-01,-2.210000e+02,-7.000000e+01,-3.000000e-01,-1.871800e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.800000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.100000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.630000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.850000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.060000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.940000e+00,0.000000e+00,3.000000e-01,2.047000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [43]:
df11 = read_taxi_csv("11")

In [44]:
%%time

df = pd.concat([df01, df02, df03, df04, df05, df06, df07, df08, df09, df10, df11])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 3.26 s, sys: 9.98 s, total: 13.2 s
Wall time: 41.7 s

passenger_count
0    2.120617
1    2.202200
2    2.204865
3    2.130554
4    2.019196
5    2.231791
6    2.216699
7    6.765849
8    6.759382
9    7.257751
Name: tip_amount, dtype: float64

In [45]:
df.memory_usage(deep=True).sum()

8602800146

In [46]:
%%time

df.describe()

CPU times: user 5min 15s, sys: 30.1 s, total: 5min 45s
Wall time: 6min 17s

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,7.730712e+07,7.730712e+07,7.750270e+07,7.730712e+07,7.750270e+07,7.750270e+07,7.730712e+07,7.750270e+07,7.750270e+07,7.750270e+07,7.750270e+07,7.750270e+07,7.750270e+07,7.750270e+07,7.264672e+07
mean,1.643619e+00,1.563740e+00,3.003375e+00,1.060901e+00,1.631136e+02,1.613406e+02,1.288511e+00,1.332208e+01,1.084646e+00,4.948052e-01,2.190655e+00,3.823601e-01,2.986589e-01,1.907833e+01,2.179912e+00
std,5.001024e-01,1.210841e+00,6.875164e+00,7.424553e-01,6.601216e+01,7.024315e+01,4.783355e-01,1.762076e+02,1.247565e+00,6.680857e-02,1.631628e+01,1.825993e+00,2.731110e-02,1.866374e+02,8.458375e-01
min,1.000000e+00,0.000000e+00,-1.873924e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.856000e+03,-6.000000e+01,-5.000000e-01,-2.210000e+02,-7.000000e+01,-3.000000e-01,-1.871800e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.800000e-01,1.000000e+00,1.160000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.115000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.630000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.860000e+00,0.000000e+00,3.000000e-01,1.459000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.050000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.450000e+01,2.500000e+00,5.000000e-01,2.950000e+00,0.000000e+00,3.000000e-01,2.075000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [47]:
df12 = read_taxi_csv("12")

In [48]:
%%time

df = pd.concat([df01, df02, df03, df04, df05, df06, df07, df08, df09, df10, df11, df12])
df.groupby("passenger_count").tip_amount.mean()

CPU times: user 3.63 s, sys: 11.1 s, total: 14.7 s
Wall time: 47.4 s

passenger_count
0    2.122789
1    2.206790
2    2.214306
3    2.137775
4    2.023804
5    2.235441
6    2.221105
7    6.675962
8    7.111625
9    7.377822
Name: tip_amount, dtype: float64

In [49]:
df.memory_usage(deep=True).sum()

9368291333

In [50]:
%%time

df.describe()

CPU times: user 5min 46s, sys: 34.9 s, total: 6min 21s
Wall time: 7min

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,8.415242e+07,8.415242e+07,8.439902e+07,8.415242e+07,8.439902e+07,8.439902e+07,8.415242e+07,8.439902e+07,8.439902e+07,8.439902e+07,8.439902e+07,8.439902e+07,8.439902e+07,8.439902e+07,7.954304e+07
mean,1.645477e+00,1.562694e+00,3.000928e+00,1.061296e+00,1.631576e+02,1.613527e+02,1.289363e+00,1.334399e+01,1.086597e+00,4.946098e-01,2.195064e+00,3.828310e-01,2.986039e-01,1.912436e+01,2.188180e+00
std,4.978746e-01,1.207917e+00,8.091114e+00,7.595429e-01,6.601604e+01,7.025088e+01,4.791325e-01,1.743749e+02,1.248594e+00,6.728067e-02,1.565706e+01,1.817217e+00,2.790003e-02,1.840874e+02,8.373132e-01
min,1.000000e+00,0.000000e+00,-3.726453e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.856000e+03,-6.000000e+01,-5.000000e-01,-2.210000e+02,-7.000000e+01,-3.000000e-01,-1.871800e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.800000e-01,1.000000e+00,1.160000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.115000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.630000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,1.860000e+00,0.000000e+00,3.000000e-01,1.472000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.050000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.500000e+01,2.500000e+00,5.000000e-01,2.950000e+00,0.000000e+00,3.000000e-01,2.075000e+01,2.500000e+00
max,4.000000e+00,9.000000e+00,4.597722e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,9.432748e+05,5.353800e+02,2.124200e+02,1.414920e+05,3.288000e+03,1.000000e+00,1.084772e+06,4.500000e+00

In [51]:
%%time

df.set_index("passenger_count")

CPU times: user 1.86 s, sys: 5.95 s, total: 7.81 s
Wall time: 27.1 s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
passenger_count,,,,,,,,,,,,,,,,,
1,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1.50,1,N,151,239,1,7.00,0.50,0.5,1.65,0.00,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,2.60,1,N,239,246,1,14.00,0.50,0.5,1.00,0.00,0.3,16.30,NaN
3,2,2018-12-21 13:48:30,2018-12-21 13:52:40,0.00,1,N,236,236,1,4.50,0.50,0.5,0.00,0.00,0.3,5.80,NaN
5,2,2018-11-28 15:52:25,2018-11-28 15:55:45,0.00,1,N,193,193,2,3.50,0.50,0.5,0.00,0.00,0.3,7.55,NaN
5,2,2018-11-28 15:56:57,2018-11-28 15:58:33,0.00,2,N,193,193,2,52.00,0.00,0.5,0.00,0.00,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,<NA>,2019-12-31 00:07:00,2019-12-31 00:46:00,12.78,<NA>,NaN,230,72,<NA>,32.32,2.75,0.5,0.00,6.12,0.3,41.99,0.0
NaN,<NA>,2019-12-31 00:20:00,2019-12-31 00:47:00,18.52,<NA>,NaN,219,32,<NA>,51.63,2.75,0.5,0.00,6.12,0.3,61.30,0.0
NaN,<NA>,2019-12-31 00:50:00,2019-12-31 01:21:00,13.13,<NA>,NaN,161,76,<NA>,38.02,2.75,0.5,0.00,6.12,0.3,47.69,0.0
NaN,<NA>,2019-12-31 00:38:19,2019-12-31 01:19:37,14.51,<NA>,NaN,230,21,<NA>,41.86,2.75,0.0,0.00,6.12,0.3,51.03,0.0
NaN,<NA>,2019-12-31 00:21:00,2019-12-31 00:56:00,-17.16,<NA>,NaN,193,219,<NA>,44.62,2.75,0.5,0.00,0.00,0.3,48.17,0.0

In [62]:
passenger = pd.read_csv(
    "/Users/powers/Documents/tmp/data/synthetic/passenger.csv",
).astype({'passenger_count': 'object'})

In [59]:
passenger.dtypes

passenger_count     uint8
interpretation     object
dtype: object

In [60]:
df.dtypes

VendorID                          UInt8
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   UInt8
trip_distance                   float64
RatecodeID                        UInt8
store_and_fwd_flag             category
PULocationID                     UInt16
DOLocationID                     UInt16
payment_type                      UInt8
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [63]:
%%time

res = pd.merge(df.astype({'passenger_count': 'object'}), passenger, how="outer", on=["passenger_count"])

CPU times: user 18.1 s, sys: 20.4 s, total: 38.5 s
Wall time: 1min 29s

In [ ]:
result = pd.concat([df, passenger], axis=1)

## Try out Dask

In [64]:
import dask.dataframe as dd

In [68]:
2+2

4

In [69]:
ddf = dd.read_csv(
    "/Users/powers/Documents/tmp/data/yellow_tripdata/yellow_tripdata_2019-*.csv",
    parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"],
    dtype={
        "payment_type": "UInt8",
        "VendorID": "UInt8",
        "passenger_count": "UInt8",
        "RatecodeID": "UInt8",
        "store_and_fwd_flag": "category",
        "PULocationID": "UInt16",
        "DOLocationID": "UInt16",
    }
)

In [71]:
len(ddf)

84399019

In [74]:
%%time

ddf.groupby("passenger_count").tip_amount.mean().compute()

CPU times: user 5min 9s, sys: 10.8 s, total: 5min 20s
Wall time: 3min 59s

passenger_count
0    2.122789
1    2.206790
2    2.214306
3    2.137775
4    2.023804
5    2.235441
6    2.221105
7    6.675962
8    7.111625
9    7.377822
Name: tip_amount, dtype: float64